body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('imgs/dian10.jpg') center/cover no-repeat;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo img {
    width: 160px;
}

.parametre2 {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 30px;
}

.parametre2 a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.parametre2 a:hover {
    color: #ddd;
}

.container {
    width: 650px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    backdrop-filter: blur(10px);
    margin-top: 80px;
}

form {
    text-align: left;
}

h1, h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #222; /* Darker for better contrast */
    font-size: 28px; /* Adjust as needed */
    text-align: center; /* Center the titles */
    font-weight: bold; /* Make the titles bold */
}

label, select, input[type="date"], input[type="text"], input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: #000;
}

select, input[type="date"], input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background: #653332;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #502929;
}
